<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/home.css">
    <title>Cinema</title>
</head>
<body>
    <header>
        <nav>
            <span id="nome">Cinema</span>
            <ul>
                <a href="catalogo.html"><li>Catalogo</li></a>
                <a href="index.html" target="_self"><li>Home</li></a>
                <a href="quemsomos.html" target="_self"><li>Quem Somos</li></a>
            </ul>
            <img src="../Imagens/carrinho.png" alt="Carrinho" id="carrinho">
        </nav>
    </header>
    <main>
        <section id="home-fotos">
            <div>
                <div class="seat">6</div>
                <div class="seat">7</div>
                <div class="seat">8</div>
                <div class="seat">9</div>
                <div class="seat">10</div>
            </div>
        </section>
    </main>
    <footer>
        <div class="rodape">
            <ul class="ul-rodape">
                <h3><li class="lider">Localização</li></h3>
                <li>Av. Olavo de Carvalho, 110</li>
                <li>Campinas, São Paulo</li>
                <li>CEP: 15780-860</li>
            </ul>

            <ul class="ul-rodape">
                <h3><li class="lider">Contato</li></h3>
                <li>Telefone: (14) 3030-4040</li>
                <li>Email: contato@lacuisineelegante.com.br</li>
            </ul>
        </div>
        <div id="copy-rodape"><span>&copy;2024 Restaurante La Cuisine Élégante. Todos os direitos reservados</span></div>
    </footer>
    <script src="/script.js"></script>
</body>
</html>